// Color System Variables
$color-base: #FFFFFF;

// Brand Color
$sherwood-orange-100: #773A2E;
$sherwood-orange-70: #ED745C;
$sherwood-orange-50: #F08B77;
$sherwood-orange-20: #F9D1C9;
$sherwood-orange-10: #FBE3DE;

// Secondary Color
$phthalo-blue-100: #031090;
$phthalo-blue-70: #4F58B1;
$phthalo-blue-50: #8187C7;
$phthalo-blue-20: #CDCFE9;
$phthalo-blue-10: #E6E7F4;

// Accent Color
$blue-100: #1A57F1;
$blue-80: #4E7FFC;
$blue-60: #7DA1FB;
$blue-40: #A3BDFF;
$blue-20: #D6E1FF;

$green-100: #18C687;
$green-90: #5ABD90;
$green-80: #46D19F;
$green-60: #74DDB7;
$green-40: #A3E8CF;
$green-20: #D1F4E7;

$orange-100: #FD964B;
$orange-80: #FDAB6F;
$orange-60: #FEC093;
$orange-40: #FED5B7;
$orange-20: #FFEADB;

$red-100: #F36A6A;
$red-80: #F88383;
$red-60: #FAA2A2;
$red-40: #FBC1C1;
$red-20: #FDE0E0;

// Gray Color
$dark-100: #010817;
$dark-95: #282828;
$dark-90: #363B44;
$dark-80: #6A7077;
$dark-70: #858B92;
$dark-60: #98A0A9;
$dark-50: #BBBFC3;
$dark-40: #CCCFD1;
$dark-30: #DEE0E1;
$dark-20: #EBEBEB;
$dark-10: #F6F6F6;

$font-primary: 'Ubuntu', sans-serif;
$font-secondary: 'Espressonal', cursive;

// Typography Font Weight
// $font-weight-normal: 400;
// $font-weight-medium: 500;
// $font-weight-semibold: 600;
// $font-weight-bold: 700;
// $font-weight-base: $font-weight-normal;

// // Typography Line Height
// $line-height-100: 1;
// $line-height-110: 1.1;
// $line-height-114: 1.14;
// $line-height-116: 1.16;
// $line-height-120: 1.2;
// $line-height-122: 1.22;
// $line-height-125: 1.25;
// $line-height-129: 1.29;
// $line-height-133: 1.33;
// $line-height-140: 1.4;
// $line-height-142: 1.42;
// $line-height-150: 1.5;
// $line-height-157: 1.57;
// $line-height-160: 1.6;

// Typography Desktop
// $h1-font-size: 80px;
// $h2-font-size: 68px;
// $h3-font-size: 56px;
// $h4-font-size: 48px;
// $h5-font-size: 32px;
// $h6-font-size: 24px;

// // Typography Mobile
// $h1-font-size: 48px;
// $h2-font-size: 40px;
// $h3-font-size: 34px;
// $h4-font-size: 28px;
// $h5-font-size: 24px;
// $h6-font-size: 20px;


// $spacing-sm: 10px;
// $spacing-md: 20px;
// $spacing-lg: 40px;
