
.hero {
  background-color: $sherwood-orange-70;
  // padding: toRem(40) toRem(120) 0 toRem(120);
  // padding: 40vw 120vw 0vw 120vw;
  padding: toVw(0) toVw(120) toVw(0) toVw(120);
  color: $color-base;
  overflow: hidden;


  @media (max-width: toRem(1200)) {
    padding-left: toVw(60);
    padding-right: toVw(60);
  }



  &__content {
    position: relative;
    max-width: toRem(1200);
    margin: 0 auto;
    margin-top: toRem(40);
    padding-top: toRem(70);
    padding-bottom: toRem(70);
    @include flex(row, space-between, center);

    @media (max-width: toRem(768)) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: toRem(64);
      padding-top: 0;
      padding-bottom: 0;
    }

  }

  &__text {
    max-width: toRem(468);
    text-align: center;

    position: relative;
    z-index: 2;
    font-family: $font-secondary;

    line-height: 1.1;
    font-weight: 400;

    @media (max-width: toRem(768)) {
      padding-bottom: toRem(40);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-title {
      font-size: toRem(80);
      color: $color-base;
      font-family: $font-secondary;
      font-weight: 400;
      line-height: 1.1;

      @media (max-width: toRem(768)) {
        max-width: toRem(298);
        font-size: toRem(48);
      }
    }
  }

  &__pattern {
    position: absolute;
    z-index: 1;

    &--1{
      top: toRem(94);
      z-index: -1;

      @media (max-width: toRem(768)) {
        top: toRem(55);
      }

      img{
        @media (max-width: toRem(768)) {
          width: 268px;
        }
      }
    }

    &--2 {
      width: toRem(220);
      top: toRem(270);
      left: toRem(135);

      @media (max-width: toRem(768)) {
        top: toRem(161);
        left: toRem(105);
      }

      @media (max-width: toRem(576)) {
        top: toRem(161);
        left: toRem(44);
      }

      img{
        @media (max-width: toRem(768)) {
          width: 134px;
        }
      }
    }
  }

  &__buttons {
    @include flex(row, flex-start, center);
    gap: toRem(20);
    margin-left: toRem(30);
    margin-top: toRem(80);
    font-weight: 500;
    font-size: toRem(18);
    line-height: 1.6;

    @media (max-width: toRem(768)) {
      margin-top: toRem(50);
      margin-left: 0;
    }

    @media (max-width: toRem(576)) {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      width: 100%;
    }
  }

  &__button {
    &--dark {
      @include button-style($dark-100, $color-base);
      padding-top: toRem(24);
      padding-right: toRem(32);
      padding-bottom: toRem(24);
      padding-left: toRem(32);

      &:hover {
        color: $dark-100;
        background-color: $color-base;
      }
    }

    &--outline {
      @include button-style(transparent, $color-base, 2px solid $color-base);
      padding-top: toRem(24);
      padding-right: toRem(32);
      padding-bottom: toRem(24);
      padding-left: toRem(32);

      &:hover {
        color: $sherwood-orange-70;
        background-color: $color-base;
      }
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    @media(max-width: toRem(768)) {
      position: relative;
    }

      img {
        width: 100%;
        max-width: toRem(540);
        height: 100%;
        display: inline-block;
        vertical-align: middle;

        @media(max-width: toRem(1200)) {
          max-width: toRem(450);
        }

        @media(max-width: toRem(992)) {
          max-width: toRem(350);
        }
    }
  }
}


.hero-secondary {
  background-color: $sherwood-orange-70;
  padding-left: toVw(120);
  padding-right: toVw(120);
  color: $color-base;

  @media (max-width: toRem(1200)) {
    padding-left: toVw(60);
    padding-right: toVw(60);
  }

  @media (max-width: toRem(992)) {
    overflow: hidden;
  }


  &__container {
    max-width: toRem(1200);
    margin: 0 auto;
    padding-bottom: toRem(120);
    padding-top: toRem(72);
    position: relative;

    @media (max-width: toRem(768)){
      padding-top: toRem(64);
      padding-bottom: toRem(80);
    }
  }

  &__content{
    display: flex;
    flex-direction: column;
    gap: toRem(24);
  }

  &__subtitle {
    font-family: $font-primary;
    font-size: toRem(18);
    font-weight: 400;

    @media (max-width: toRem(768)) {
      font-size: toRem(16);
    }
  }

  &__title {
    font-family: $font-secondary;
    font-size: toRem(80);
    font-weight: 400;
    line-height: 1.1;

    @media (max-width: toRem(992)){
      font-size: toRem(48);
    }

  }

  &__title-line {
    display: block;
  }

  &__shape {
    position: absolute;
    right: toRem(-28);
    top: toRem(-25);
    z-index: 100;
    pointer-events: none;
    display: block;

    @media (max-width: toRem(1200)) {
      right: toRem(-10);
    }

    @media (max-width: toRem(992)) {
      right: toRem(-150);
      top: toRem(23);
    }

    img {
      width: 100%;
      max-width: toRem(508);
      display: inline-block;
      vertical-align: middle;
      object-fit: cover;

      @media (max-width: toRem(1200)) {
        max-width: toRem(458);
      }

      @media (max-width: toRem(992)) {
        max-width: toRem(320);
        height: auto;
      }

      @media (max-width: toRem(576)) {
        max-width: toRem(224);
      }
    }
  }
}
