.crisis-line {
  padding-top: toRem(120);
  padding-bottom: toRem(60);
  padding-left: toVw(120);
  padding-right: toVw(120);

  @media (max-width: toRem(768)){
    padding-top: toRem(80);
    padding-bottom: toRem(40);
  }


  @media (max-width: toRem(1200)) {
    padding-left: toVw(60);
    padding-right: toVw(60);
  }
}

// Crisis
.crisis {
  max-width: toRem(1200);
  margin: 0 auto;
  &__title {
    font-family: $font-secondary;
    font-size: toRem(56);
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: toRem(64);
    color: $dark-100;
    max-width: toRem(770);

    @media (max-width: toRem(992)) {
      font-size: toRem(34);
    }
  }

  &__layout {
    display: grid;
    grid-template-columns: toRem(459) 1fr;
    gap: toRem(64);

    @media (max-width: toRem(1300)) {
      grid-template-columns: toRem(400) 1fr;
      gap: toRem(32);
    }

    @media (max-width: toRem(1080)) {
      grid-template-columns: toRem(300) 1fr;
    }

    @media (max-width: toRem(992)) {
      grid-template-columns: 1fr;
    }
  }


  &__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: toRem(16);
  }

  &__description {
    display: grid;
    grid-template-columns: 1fr toRem(264);
    gap: toRem(32);

    @media (max-width: toRem(1300)){
      grid-template-columns: 1fr toRem(250);
      gap: toRem(16);
    }

    @media (max-width: toRem(1200)){
      grid-template-columns: 1fr toRem(240);
      gap: toRem(8);
    }

    @media (max-width: toRem(768)){
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-top{
      display: flex;
      flex-direction: column;
      gap: toRem(16);
      align-items: stretch;
      justify-content: flex-start;
    }
  }

  &__paragraph {
    font-family: $font-primary;
    font-weight: 400;
    font-size: toRem(16);
    line-height: 1.6;
    color: $dark-80;

    @media (max-width: toRem(576)) {
      font-size: toRem(14);
      line-height: 1.5;
    }

    &::last-of-type{
      margin-bottom: toRem(20);
    }
  }

    img {
      width: 100%;
      max-width: toRem(350);
      height: auto;
      display: block;
    }

  &__actions {
    display: inline-grid;
    margin-top: toRem(24);

    @media (max-width: toRem(992)) {
      display: block;
    }
  }

  &__button {
    padding: toRem(16) toRem(24);
    text-decoration: none;
    font-size: toRem(16);
    font-family: $font-primary;
    font-weight: 500;
    line-height: 1.5;
    transition: all 0.3s ease;
    background-color: $dark-100;
    color: $color-base;
    margin-right: toRem(16);
    margin-bottom: toRem(16);

    @media (max-width: toRem(992)) {
      display: block;
      text-align: center;
      margin-right: 0;
      margin-bottom: toRem(16);
    }

    @media (max-width: toRem(576)) {
      padding: toRem(12) toRem(20);
      font-size: toRem(14);
    }
  }
}
